.clock {
  --clr-primary: rgb(0, 130, 255);
  --clr-primary-light: rgb(0, 130, 255);
  --clr-primary-dark: rgba(10, 20, 35, 0.5);

  width: 400px;
  max-width: calc(100vw - 10px);
  height: 340px;
  border-radius: 1rem;
  margin: 25px auto;
  border: 1px solid #000;
  background-color: var(--clr-primary-dark);
  color: #eee;
  text-align: center;
  box-shadow: #000 0 0 10px;
  opacity: 0.8;
  transform: scale(0.9);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s linear;

  &:hover {
    transform: scale(1);
    box-shadow: #000 0 0 25px;
  }

  .title {
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
    text-shadow: #000 2px 2px 3px;
    padding: 5px 0;
    margin-top: 5px;
  }

  .header {
    margin: 5px 0;
    height: 30px;

    .length {
      display: inline-block;
      margin: 5px 5px;
      width: 35px;
      font-weight: bold;
      font-size: 20px;
    }

    a {
      display: inline-block;
      cursor: pointer;
      color: #ccc;

      &:hover {
        color: #fff;
        transform: scale(1.2);
      }
    }
  }

  .timer-label {
    margin: 20px 0px 0px 0px;
    font-size: 20px;

    &.break-on {
      font-weight: bold;
      color: #e33;
    }
  }

  .display {
    font-size: 70px;
    text-shadow: #000 2px 2px 3px;
    margin: 0;

    &.play {
      color: var(--clr-primary-light);
    }
  }

  .buttons {
    padding: 5px 0;

    .button {
      display: inline-block;
      color: #ccc;
      cursor: pointer;
      padding: 3px;
      margin: 0 10px;
      border: 2px solid rgba(0, 0, 0, 0);

      &:hover {
        transition: transform 0.2s ease-in-out;
        transform: scale(1.3);
        color: #fff;
      }

      &.active {
        color: var(--clr-primary);
        border: 2px solid var(--clr-primary);
        border-radius: 10px;
      }
    }
  }

  .footer {
    margin-top: 10px;

    a {
      color: #777;

      &:hover {
        color: #bbb;
        text-decoration: none;
      }
    }
  }
}
